@import '../utils/variables';

.iconsDiv {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 34px;
  color: $color-2;
  border: 1px solid $color-2;
  border-radius: 5px;
  padding: 5px;
  width: 46px;
  height: 46px;
  margin: 0 20px;
}
