.link {
  background-color: #5366f9;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 40px auto 20px auto;
  color: white;
  border-radius: 5px;

  &__icon {
    margin: 0 7px;
  }
}
