@import '../utils/variables';

.modal {
  width: 95%;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgb(255, 234, 225, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  h1 {
    text-align: center;
  }

  // &__container {
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: #333333d3;
  //   z-index: 1;
  // }

  &__close {
    font-size: 24px;
    position: absolute;
    top: 30px;
    right: 35px;
  }
}

.swipper-button-prev,
.swipper-button-next {
  color: $color-1 !important;
}
