@import '../utils/variables';

.redirection-btn {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  color: $color-1;
  padding-bottom: 5px;
  display: inline-block;
  position: relative;

  svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.redirections {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    a,
    h3 {
      padding: 0 10px;
    }
  }
}

@media (max-width: 480px) {
  .redirections {
    width: 100%;
    padding-top: 50px;
  }
}
