@import '../settings';
@import '../mixins';

.learn {
  @include align-content;
  font-weight: 400;

  &__infos {
    display: flex;
    margin-top: 65px;

    // img {
    //   width: fit-content;
    // }

    &Right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &Part2 {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
  }

  &__type,
  &__date {
    margin-right: 10px;

    h1 {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}

// FOR THE MODAL

.modal {
  // img {
  //   width: 40%;
  //   margin: 10px;
  // }

  width: 95%;
  min-width: 300px;
  max-width: 500px;
  padding: 30px;
  background-color: $color-3;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);

  h1 {
    text-align: center;
  }

  &__btn {
    font-size: 34px;
    color: $color-2;
    border: 1px solid $color-2;
    border-radius: 5px;
    padding: 5px;
    width: 46px;
    height: 46px;
  }

  &__container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #333333d3;
  }

  &__close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
