.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  font-size: 20px;
  font-weight: 400;

  &__infos {
    display: flex;
    margin-top: 65px;

    &Right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &Part2 {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
  }

  &__type,
  &__date {
    margin-right: 10px;

    h1 {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .learn {
    &__infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: -webkit-fill-available;

      &Right {
        align-items: center;
      }

      &Part2 {
        width: 100%;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      width: 100%;
      text-align: justify;
    }
  }
}

@media (max-width: 480px) {
  .learn {
    padding-top: 50px;

    &__infos {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
