@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700;800;900&display=swap');

//#FBD7C9
$color-1: #f98253;
$color-2: #888aff;
$color-3: #fef7f4;
$white: #ffffff;
$color-tech: #b55f91;

$font-1: 'Maven Pro', sans-serif;
$font-2: 'Lato', sans-serif;
