@import '../styles/settings';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // background: $color-1;
  background: white;
  font-family: $font-2;
  font-style: normal;
  font-weight: 500;
  margin: 0 10px;
}

h1 {
  font-family: $font-1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

b {
  color: $color-2;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

// .link {
//   background-color: #5366f9;
//   padding: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 15%;
//   margin: 40px auto 20px auto;
//   color: white;
//   border-radius: 5px;

//   &__icon {
//     margin: 0 7px;
//   }
// }

@media (max-width: 480px) {
  * {
    margin: 0 5px;
  }
}
