@import '../utils/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #ffe6dc,
    #ffeae7,
    #ffeef1,
    #fef4f9,
    #fdf9fd,
    #fdf9fd,
    #fcfafc,
    #fcfafc,
    #fbf6f9,
    #fbf2f5,
    #faeeef,
    #f9ebe9
  );
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

b {
  color: $color-2;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  background-image: linear-gradient(
      #fff4f0 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #fff4f0 calc(100% - 0.5px)
    ),
    linear-gradient(
      90deg,
      #fff4f0 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #fff4f0 calc(100% - 0.5px)
    );
  background-size: 100px 100px;
  border: 0.5px solid #fff4f0;
}
