// @font-face {
//   font-family: 'Maven Pro';
//   src: url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700;800;900&display=swap');
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// }

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3 {
  // font-family: 'Maven Pro';
  font-family: 'Poiret One', cursive;
}
